<%
	report.files.forEach(function(file) {

		if (file.errors.length) {
			print('FAIL\t'.red);
			print(file.filepath);
			print('(' + file.errors.length + ')\n');
		}

		file.errors.forEach(function(error, index) {
			print((file.filepath + ':' + error.line).red);
			print((error.character ? ':' + error.character : '').red + '\t');
			print(error.reason ? error.reason : 'Unused variable `' + error.name + '`');
			print('\n');
		});
	});

	if (report.failures) {
		print(('\n# JSLint failed, ' + report.failures.toString() + ' violations in ' + report.filesInViolation + ' files.  ' + report.files.length + ' files scanned.\n').red);
	}
%>
