<?xml version="1.0" encoding="UTF-8"?>
<jslint>
    <% obj.files.forEach(function(file) { %>
        <file name="<%= file.filepath %>">
            <% file.errors.forEach(function(error, index) { %>
                <issue line="<%= error.line %>" char="<%= error.character ? error.character : '' %>" reason="<%= error.reason ? error.reason.replace(/"/g, '&quot;') : 'Unused variable `' + error.name + '`' %>" evidence="<%= error.evidence ? error.evidence.replace(/"/g, '&quot;') : '' %>" />
            <% }); %>
        </file>
    <% }); %>
</jslint>