<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
	<testsuite>
		<% obj.files.forEach(function(file) { %>
			<testcase name="<%= file.filepath %>">
				<% file.errors.forEach(function(error, index) { %>
					<failure message="<%
						print(error.line + ':');
						print(error.character ? error.character + ':' : '');
						print(' ');
						print(error.reason ? error.reason.replace(/"/g, '&quot;') : 'Unused variable `' + error.name + '`');
					%>" />
				<% }); %>
			</testcase>
		<% }); %>
	</testsuite>
</testsuites>