<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
	<testsuite>
		<% obj.files.forEach(function(file) { %>
			<testcase name="<%= file.filepath %>">
				<% file.errors.forEach(function(error, index) { %>
					<failure message=<%

						print('"* Error on line #' + error.line.toString());
						error.character ? print(', character #' + error.character) : '';
						error.reason ? print(': ' + error.reason) : print(': Unused variable `' + error.name + '`');
						print('"');
					%> />
				<% }); %>
			</testcase>
		<% }); %>
	</testsuite>
</testsuites>